version: '3'
networks:
  test_net:
    external:
      name: test_net

services:
  
  mariadb:
    image: docker.io/bitnami/mariadb:10.6
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_opencart
      - MARIADB_DATABASE=bitnami_opencart
    volumes:
      - 'mariadb_data:/bitnami/mariadb'
    networks:
      - test_net

  opencart:
    image: docker.io/bitnami/opencart:3
    # ports:
    #   - '8080:8080'
    #   - '8443:8443'
    environment:
      - OPENCART_HOST=opencart:8080
      - OPENCART_DATABASE_HOST=mariadb
      - OPENCART_DATABASE_PORT_NUMBER=3306
      - OPENCART_DATABASE_USER=bn_opencart
      - OPENCART_DATABASE_NAME=bitnami_opencart
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - 'opencart_data:/bitnami/opencart'
      - 'opencart_storage_data:/bitnami/opencart_storage/'
    depends_on:
      - mariadb
    networks:
      - test_net

  tests:
      image: mypw:latest
      # build:
      #   context: .
      #   dockerfile: Dockerfile
      user: ${UID}:${GID}
      entrypoint:
        - ./wait-for-it.sh
        - mariadb:3306
        - -t
        - "180"
        - --strict
        - --
        - ./wait-for-it.sh
        - opencart:8080
        - -t
        - "180"
        - --strict
        - --
        - ./entrypoint.sh
        - ${PYTEST_ARGS}
      depends_on:
        - opencart
      volumes:
        - './artifacts/:/app/artifacts/'
      networks:
        - test_net

volumes:
  mariadb_data:
    driver: local
  opencart_data:
    driver: local
  opencart_storage_data:
    driver: local
